body {font-family: Times New Roman;}


#head{

  margin-top: -1%;
  margin-left: -1%;
  width: 101.6%;
  height: 75px;
  background: #0148ba;
  text-align: center;
  border-bottom: 4px solid;
}

#head font{
  position: absolute;
  color:#ffffff;*/
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 500;
  top: 0.7%;
  left: 33%;
}

#head img {
	position: absolute;
	height: 40px;
	width: 88px;
	top: 2.5%;
	left: 90%;
}

.result {
  align: center;
  //display: none
  //height: 100px;
  width: 100px;
  border: 4px solid black;
  border-color: black;
  border-collapse: collapse;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center; 
  background: #f8f8ff;
  border-radius: 0px;
  color: #3f3f3f;
}

.result td, th {
  padding: 3px; /* Поля вокруг содержимого таблицы */
  border: 1px solid black;
  border-bottom: 0px solid black;
  vertical-align: middle;
}

.result td {
  color: #3f3f3f;
}

.result tbody tr:nth-child(2) {
	border-bottom: 0px solid black;
}


/* Style the tab */
.tab {
  margin-left: -1%;
  width: 101.6%;
  overflow: hidden;
  border: 0px solid #ccc;
  background-color: #015b19;
}

.tab p {
  color:#ffffff;*/
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin-left: 2.5%;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #0148ba;
  float: left;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 3px;
  outline: none;
  color:#f7cdf2; 
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #42acbf;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #42acff;
}

/* Style the tab content */
.tabcontent {
  margin-left: -1%;
  width: 99.7%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color:#d0edd1;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

input{
  autocomplete: off;
  height: 20px;
  width: 200px;
  border-radius: 5px;
  float: right;
  margin-right: 10px;
}

.myInput{
  autocomplete: off;
  height: 27px;
  width: 200px;
  float: left;
  margin-left: 20px;
  margin-top: -15px;
  border-radius: 3px;
}

label{
  margin-left: 20px;
}

.contentTable {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: collapse;
border-spacing: 5px;
background: #F0F8FF;
border-radius: 20px;
}

th {
font-size: 22px;
font-weight: 300;
padding: 12px 10px;
border-bottom: 2px solid #67028e;
color: #3f3f3f;

}

tbody tr:nth-child(2) {
border-bottom: 2px solid #67028e;
}

td {
padding: 10px;
color: #3f3f3f;
vertical-align: top;
}

.sender{
  margin-left: 4%;
  margin-bottom:7%;
  height:30px;
  width:100px;
  background-color:#16ad31;
  border:none;
  border-radius:5px;
}

.sender:hover{background-color: #096d02;}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  margin-top: 20px;
  margin-left: 10px;
  width: 16%;
  max-height: 40%;
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color:#fff;
}

.forma{
  position: relative;
  vertical-align: top;
}

.dropdown-content a:hover {background-color: #a9a9a9;}

.show {display: block;}

.topright:hover {color: red;}
